.about-page {
  //padding-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding-right: 2rem;
  .my-image-container {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    justify-self: left;
    height: 100%;
    margin-right: 3rem;
    transform: translateX(-100%);
  }

  .typed-text {
    flex-grow: 1;
  }
  .slide-right {
    -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  /**
   * ----------------------------------------
   * animation slide-right
   * ----------------------------------------
   */
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

}
