@import "../../styles/screen-size";
.home-page {
  height: 100vh;
  .up-arrow {
    position: absolute;
    top: 3rem;
    left: 4rem;
  }

  .fade-in-bottom {
    -webkit-animation: fade-in-bottom 2s both;
    animation: fade-in-bottom 2s both;
  }
  .fade-out {

  }
  .typed-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;

    @include for-size(phone-only) {
      span, div {
        font-size: 1.2em !important;
      }
    }
  }
  .typed-cursor {
    font-size: 2em;
    font-weight: bold;
  }

  .typed-fade-out {
    opacity: 0;
    transition: opacity 0s;
    -webkit-animation: 0;
    animation: 0;
  }

  /**
   * ----------------------------------------
   * animation fade-in-bottom
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }


  /**
   * ----------------------------------------
   * animation fade-out
   * ----------------------------------------
   */
  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

}

