@import "../../styles/screen-size";
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transform: translateY(-100%);
  display: flex;
  justify-content: flex-end;

  .nav-horizontal {
    width: 100%;
    .home-link {
      margin-right: auto;
    }
  }
  @include for-size(900px) {
    .nav-horizontal {
      display: none;
    }
    .nav-vertical.open {
      display: flex !important;
    }
  }

  .menu {
    display: none;
    outline: none;
    @include for-size(900px) {
      display: block;
    }
  }

  .nav-vertical {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .nav-link {
    }
  }

  .active {
    transform: scale(1.2);
  }
}
